<div class="form-group">
  <label for="textarea_{{name}}" class="col-lg-2 control-label">{{name}}</label>
  <div class="col-lg-10">
    <textarea name="{{name}}" id="textarea_{{name}}" placeholder="{{name}}" cols="30" rows="10"></textarea>
  </div>
</div>